.room {
    display: grid;
    grid-template-columns: 9fr 1fr;

    height: 95vh;
    width: 100%;

    overflow-x: hidden;

    position: absolute;
    top: 0;
    left: 0;

    border-bottom: #4E87B7 solid 2px;
}

.messages {
    grid-column: 1;

    width: 100%;
}

.people {
    grid-column: 2;

    padding: 1px;
    border-left: #4E87B7 solid 2px;
}

.rooms {
    height: calc(5vh - 2px);
    width: 100vw;

    position: absolute;
    left: 0;
    bottom: 0;

    overflow: hidden;

    display: flex;
    align-items: center;
}

.chatMessages {
    overflow-y: scroll;

    width: 100%;
    height: 92.5%;
    
    position: absolute;
    top: 0;
}

.chatMessages * {
    overflow-y: scroll;
}

.draftMessage {
    margin-top: 1%;
}