.room {
    display: grid;
    grid-template-columns: 9fr 1fr;

    height: 95vh;
    width: 100%;

    overflow-x: hidden;

    position: absolute;
    top: 0;
    left: 0;

    border-bottom: #4E87B7 solid 2px;
}

.messages {
    grid-column: 1;

    width: 100%;
}

.people {
    grid-column: 2;

    padding: 1px;
    border-left: #4E87B7 solid 2px;
}

.messageInput {
    position: absolute;
    bottom: 2.5%;

    margin-left: 0.75%;
    margin-right: 0.75%;

    width: 87.5%;
    height: 2.5%;

    background-color: var(--dark-background-primary);

    border-color: var(--dark-background-secondary);
    border: 3%;
    border-radius: 0;
    border-style: solid;
}

.textArea {
    position: absolute;
    top: 0;
    left: 0;

    width: 97.5%;
    height: calc(100% - 5px);

    background-color: var(--dark-background-primary);
    border: none;

    color: var(--dark-text-primary)
}

.sendButton {
    position: absolute;
    right: 0;

    filter: invert(55%) sepia(29%) saturate(779%) hue-rotate(166deg) brightness(85%) contrast(91%);
}