.container {
    width: 56vw;

    display: grid;
    grid-template-columns: 2fr 0.75fr;
    gap: 0%;
}

.inputs {
    grid-column: 1;

    text-align: center;
}

.input {
    background: var(--dark-background-primary);
    border-color: var(--dark-background-secondary);

    margin-right: 1%;
}

.newPassword {
    margin-bottom: 1%;
}

.buttonContainer {
    text-align: center;
    margin-top: 1%;
}

.button {
    background: var(--dark-background-primary);
    border-color: var(--dark-background-secondary);

    color: var(--dark-text-primary);

    grid-column: 2;
}