.container {
    width: fit-content;

    display: grid;
    gap: 0;
}

.inputs {
    grid-column: 1;

    text-align: center;

    max-width: 20vw;
}

.input {
    background: var(--dark-background-primary);
    border-color: var(--dark-background-secondary);
}

.newPassword {
    margin-bottom: 1%;
}

.buttonContainer {
    text-align: center;
    margin-top: 1%;
    min-width: fit-content;
}

.button {
    background: var(--dark-background-primary);
    border-color: var(--dark-background-secondary);

    color: var(--dark-text-primary);

    grid-column: 2;
}