.chat {
    overflow-y: scroll;

    min-width: 20vw;
}

.author {
    font-weight: bold;
    font-size: large;

    margin-bottom: 0;
}

.message {
    margin-top: 0;
}

.avatar {
    display: inline-block;
    margin-right: .25%;
}

.timestamp {
    font-size: small;
}

.authorActions {
    display: inline-block;
}