.room {
    display: grid;
    grid-template-columns: 9fr 1fr;

    height: 95vh;
    width: 100%;

    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;

    border-bottom: #4E87B7 solid 2px;
}

.messages {
    grid-column: 1;

    width: 90vw;
}

.people {
    grid-column: 2;

    width: 10vw;

    padding: 1px;
    border-left: #4E87B7 solid 2px;
}

.rooms {
    height: calc(5vh - 2px);
    width: 100vw;

    position: absolute;
    left: 0;
    bottom: 0;

    overflow: hidden;

    display: flex;
    align-items: center;
}

.rooms > span {
    width: 100vw;
}

.chatMessages {
    width: 90vw;
    
    position: absolute;
    bottom: 6%;
}

.chatMessages > * {
    height: 90vh;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.draftMessage {
    position: absolute;
    bottom: calc(5vh - 2px);

    width: 100%;
}